body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
    background-color: #f0f8ff;
}

h2 {
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

#cityInput {
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

#weather, #hourlyContent, #dailyContent {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.weather-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.weather-text {
    flex: 1;
}

.weather-image {
    margin-left: 20px; /* Adjust margin as needed */
}

.weather-image img {
    max-width: 200px; /* Adjust image size */
    max-height: 200px;
}

.hourly-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hourly-text {
    flex: 1;
}

.hourly-image {
    margin-left: 20px; /* Adjust margin as needed */
}

.hourly-image img {
    max-width: 100px; /* Adjust image size */
    max-height: 100px;
}

.daily-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

.daily-content {
    flex: 1;
}

.daily-image {
    margin-left: 20px;
}

.daily-temp {
    margin-left: 20px;
}

h2 {
    margin: 0;
    font-size: 1.5em;
}

p {
    margin: 5px 0;
}

img {
    display: block;
    max-width: 100px;
    max-height: 100px;
}

#prevBtn, #nextBtn {
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    background-color: #008cba;
    color: white;
    border: none;
    border-radius: 5px;
}

#prevBtn:hover, #nextBtn:hover {
    background-color: #005f73;
}
